.blue-button {
    /* Your blue button styles */
    background-color: blue;
    color: white;
    /* ...other styles */
}

.red-button {
    /* Your red button styles */
    background-color: red;
    color: white;
    /* ...other styles */
}
